[submodule "resources/prismjs"]
	path = dev-resources/prismjs
	url = https://github.com/LeaVerou/prism.git
[submodule "resources/prism-clojure"]
	path = dev-resources/prism-clojure
	url = https://github.com/jeluard/prism-clojure.git
