/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/dev-resources/prone/generated
/dev-resources/node_modules/
/*-init.clj
/resources/prone-lib.js
/resources/prone.css
